body{
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
}
input{
    height: 55px;
    width: 400px;
    background-color: darkcyan;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.4s;
}
input:hover{
    background-color: darkgray;
}
button{
    height: 60px;
    width: 86px;
    background-color: darkslateblue;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
}
.contentdiv{
    height: 550px;
    width: 500px;
    background-color: dodgerblue;
    margin-top: 10px;
    font-size: 30px;
    border-radius: 6px;
 
}
.contentdiv .text{
    text-align: center;
  
    
}
.deleteBtn{
    height: 40px;
    width: 90px;
    background-color: brown;
    display: inline-block;
    color: #fff;
    margin-left: 10px;
    padding-left: 5px;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
}
::placeholder{
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
}